<button type="button" class="btn btn-primary" (click)="GetTheUserData()">GetTheCosts</button>
<div class="col-md-6">
 <div class="funkyradio">

  <div class="funkyradio-primary">
         <input type="checkbox" name="coupon" id="coupon" unchecked/>
         <label for="checkbox2">If you have coupon</label>
  </div>
  <div class="funkyradio-primary">
      <input type="checkbox" name="wdelivery" id="wdelivery" unchecked/>
      <label for="checkbox2">If you want weekend delivery</label>
  </div>
 </div>
<div>
<h1>The total cost is : {{amountToBePaid}}</h1>
</div>
